{{#> layout }}

    <h1 class="mb-0">Fox_score</h1>
    <div class="mb-2">
            <span text-neutral relative style="top: -0.5rem;">
                Austrian Software Developer
            </span>
    </div>

    <h2>About me</h2>
    <row class="mb-2">
        <card medium>
            <content>
                I love what I do and enjoy creating tools for the community.
                My main language is C#, but I'm also skilled in JavaScript / TypeScript and a bit of PHP.
            </content>
        </card>
        <card small>
            <header>
                Links
            </header>
            <content>
                <row class="content-vertical">
                    <a href="https://discordapp.com/users/222660933992841217" target="_blank">Discord</a>
                    <a href="https://github.com/foxscore" target="_blank">GitHub</a>
                    <a href="https://patreon.com/foxscore" target="_blank">Patreon</a>
                </row>
            </content>
        </card>
        <card medium>
            <header>Felix Kaiser</header>
            <content>
                Babenbergergasse 12/1
                <br/>
                2340 Mödling
                <br/>
                Österreich (AT)
            </content>
            <footer>
                <a href="tel:+436605080541">
                    <button primary>
                        <i class="nf nf-fa-phone"></i>
                        &nbsp;&nbsp;&nbsp;
                        +43 (660) 50 80 541
                    </button>
                </a>
                <a href="mailto:felixkaiser2000@protonmail.com">
                    <button primary>
                        <i class="nf nf-md-email"></i>
                        &nbsp;&nbsp;&nbsp;
                        felixkaiser2000@protonmail.com
                    </button>
                </a>
            </footer>
        </card>
    </row>

    <h2>History</h2>
    <row>
        <card medium>
            <header>
                <i class="nf nf-fa-briefcase"></i>
                &nbsp;
                IT-Handwerk
            </header>
            <content>
                Junior Software Developer
                <br/>
                <span text-neutral>2022 - Current</span>
            </content>
        </card>

        <card medium>
            <header>
                <i class="nf nf-md-school"></i>
                &nbsp;
                SAE
            </header>
            <content>
                Bachelor in Games Programming
                <br/>
                <span text-neutral>2019 - 2021</span>
            </content>
        </card>
    </row>

{{/layout}}