{{#> layout }}

    <h2>About me</h2>
    <row>
        <card medium>
            <content>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </content>
        </card>
        <card small>
            <header>
                Links
            </header>
            <content>
                <row class="content-vertical">
                    <a href="https://discordapp.com/users/222660933992841217" target="_blank">Discord</a>
                    <a href="https://github.com/foxscore" target="_blank">GitHub</a>
                    <a href="https://patreon.com/foxscore" target="_blank">Patreon</a>
                </row>
            </content>
        </card>
        <card medium>
            <header>Felix Kaiser</header>
            <content>
                Babenbergergasse 12/1
                <br/>
                2340 Mödling
                <br/>
                Österreich (AT)
            </content>
            <footer>
                <a href="tel:+436605080541">
                    <button primary>
                        <i class="nf nf-fa-phone"></i>
                        &nbsp;&nbsp;&nbsp;
                        +43 (660) 50 80 541
                    </button>
                </a>
                <a href="mailto:felixkaiser2000@protonmail.com">
                    <button primary>
                        <i class="nf nf-md-email"></i>
                        &nbsp;&nbsp;&nbsp;
                        felixkaiser2000@protonmail.com
                    </button>
                </a>
            </footer>
        </card>
    </row>

    <!-- TODO School- / Work-history -->

{{/layout}}