{{#> layout}}

<h1 class="mb-0">Projects</h1>
<div class="mb-2">
    <span text-neutral relative style="top: -0.5rem;">
        Stuff I made
    </span>
</div>

<h2>Utilities</h2>
<row class="mb-2">

    <card large>
        <header>
            Easy Login
        </header>
        <content>
            <p>
                Tired of logging into VRChat for every single project? The VRChat SDK's clunky authentication process
                can be a real hassle. Say goodbye to constant logins and the risk of getting logged out of your favorite
                projects or even the game itself.
            </p>
            <p>
                Introducing Easy Login. This handy tool simplifies the authentication process by allowing you to log in
                once and securely store your credentials across all your local projects. No more repetitive logins!
                Plus, with Easy Login, you can easily switch between multiple accounts without having to re-enter your
                password.
            </p>
        </content>
        <footer>
            {{#> linkButton href="/vpm/#dev.foxscore.easy-login" style="primary"}}
            Get Started
            {{/linkButton}}
            {{#> linkButton href="https://github.com/foxscore/easy-login" style="neutral"}}
            Source Code
            {{/linkButton}}
        </footer>
    </card>
    
</row>

<h2>Websites</h2>
<row class="mb-2">

    <card medium>
        <header>vrc-get.anatawa12.com</header>
        <content>
            <p>
                The original website for <a href="https://vrc-get.anatawa12.com/cli">vrc-get</a> / <a href="https://vrc-get.anatawa12.com/alcom">ALCOM</a> was just a bunch of raw, unstiled HTML, so I remade it.
            </p>
            <p>
                It uses Ubuntu's <a href="https://vanillaframework.io/">Vanilla Framework</a> as a CSS library, has a custom build system that uses Handlebars, and has a small footprint <i>(less than 1 MB in total)</i>.
            </p>
        </content>
        <footer>
            {{#> linkButton href="https://vrc-get.anatawa12.com/" style="primary"}}
            Homepage
            {{/linkButton}}
            {{#> linkButton href="https://github.com/vrc-get/vrc-get.anatawa12.com" style="neutral"}}
            Source Code
            {{/linkButton}}
        </footer>
    </card>

    <card medium>
        <header>foxscore.dev</header>
        <content>
            <p>
                I thought about making my own css library a while back, and recently decided to use early scraps of it
                to make this website.
            </p>

            <table>
                <tr>
                    <td>Ubuntu NerdFont</td>
                    <td>UBUNTU FONT LICENCE Version 1.0</td>
                </tr>
                <tr>
                    <td>PopperJS</td>
                    <td>MIT License</td>
                </tr>
                <tr>
                    <td>Tippy.JS</td>
                    <td>MIT License</td>
                </tr>
            </table>
        </content>
        <footer>
            {{#> linkButton href="https://github.com/foxscore/www" style="neutral"}}
            Source Code
            {{/linkButton}}
        </footer>
    </card>

</row>

{{/layout}}